<%- xmlTag(); %>
<!DOCTYPE html>
<html <%- htmlTags({
  "b:css": false,
  "b:js": true,
  "b:defaultwidgetversion": 2,
  "b:layoutsVersion": 3,
  "expr:dir": 'data:blog.locale.languageDirection',
  "expr:lang": 'data:blog.locale.language',
  prefix: 'og: http://ogp.me/ns#' }) _%>>
<!-- <%- name %> v<%- version %> | https://github.com/Karasu-themes/BloggerBase  -->
<head>

<%- include('./base/head') %> 

<b:skin><![CDATA[
/!*
Theme Name: <%- themeName %>
Theme Description: <%- themeDescription %>
Theme URI: <%- themeUrl %>
Author: <%- themeAuthor %>
Author URI: <%- themeAuthorUrl %>
Version: <%- themeVersion %>
<%- themeLicense %>
*/

/*
<%- 
// Blogger variables
include('./base/variables'); %>
*/

/*
** Main css
*----------------------------------*/
@assets(path="./scss/main.scss")
]]></b:skin>


<!-- Layout style css -->
<b:if cond='data:view.isLayoutMode'>
<b:template-skin><![CDATA[
/* Your layout style is goes here */
]]></b:template-skin>
</b:if>
</head>
<body>

<b:defaultmarkups>
<%- include('./markups/default') %> 
</b:defaultmarkups>

<%# Blog section  _%>
<b:section id='blog'>
  <%- include('./section/blog') %> 
</b:section>

&lt;textarea id=&quot;bjs&quot; readonly hidden&gt;
</body>
&lt;/textarea&gt;
<script>document.getElementById('bjs').remove()</script>&lt;/body&gt;
</html>